html {
  background-color: green;
  height: auto;
}
#page #masthead {
  display: none !important;
}
#page .site-footer {
  display: none;
}
#page #answer-form-c, #page .ap-minimal-editor {
  display: none;
}