@media print{
  html {
    height: auto;
    #masthead {
      display: none;
    }
    .site-footer {
      display: none;
    }
    #answer-form-c,
    .ap-minimal-editor {
      display: none;
    }
  }
}