@media print{
  html,body {
    background-color: yellow;
  }
  html {
    background-color: green;
    height: auto;
    #masthead {
      display: none;
    }
    .site-footer {
      display: none;
    }
    #answer-form-c,
    .ap-minimal-editor {
      display: none;
    }
  }
}