.front-message {
  text-align: center;
  font-size: $front-message-fs-default;
  color: black;
  margin-bottom: 40px;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  .q-icon,
  .a-icon {
    position: relative;
    img {
      position: absolute;
      width: 50px;
      height: 50px;
      top: -40px;
      left: 80%;
    }
  }
  .q-icon {
    color: red;
  }
  .a-icon {
    color: blue;
  }
}