.front-category-search {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  font-size: $front-category-search-fs-default;
  & > form {
    display: flex;
    .ui.search {
      flex : 1;
      margin-right: 0;
      border-radius: 0;
      border: 0;
      opacity: 0.85;
      .menu {
        border: none;
        margin: 0;
        max-width: 100%;
        width: 100%;
      }
      .dropdown.icon {
        color: $theme-main-color;
      }
      &.active.visible {
        box-sizing: border-box;
        border: 1px solid $theme-main-color;
        border-right: none;
      }
    }
  }
  &__btn {
    border: none;
    background-color: $theme-color-logo;
    padding: 0;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  }
}