//
// Question lists style
// --------------------------------------------------

.ap-list-head{
  padding: 15px 15px 5px 15px;
  border: solid 1px #ddd;
  margin-bottom: 40px;
  background-color: $grey-100;
  .ap-btn-ask{
    background: $color1;
    border-radius: 2px;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    margin-left: 15px;
    padding: 7px 20px;
    text-decoration: none;
    &:visited{
      color: #fff;
    }
  }
  .ap-filters {
    margin-top: 15px;
  }
}
.ap-questions{
  border: solid 1px #eee;
  &-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: none;
    display: table;
    margin: 0;
    padding: 15px 15px;
    width: 100%;
    position: relative;

    @include even() {
      background-color: $grey-100;
    }

    &.status-trash{
      background: #fff6f7;
    }
    .ap-avatar{
      margin-right: 20px;
      a{
        display: block;
      }
    }
    .ap-questions-title{
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 5px;
      margin-top: 0;
      a{
        text-decoration: none;
        color: #333;
      }
    }
    .ap-questions-count{
      background: #fff;
      display: block;
      float: left;
      text-transform: lowercase;
      font-size: 11px;
      margin-left: 15px;
      color: #777;
      text-align: center;
      text-decoration: none;
      border: solid 1px #ddd;
      border-radius: 2px;
      span{
        border-bottom: solid 1px #ddd;
        width: 50px;
        font-size: 16px;
        display: block;
        text-align: center;
        font-weight: 600;
        padding: 6px 0;
        height: 35px;
        margin-bottom: 1px;
      }
      &.ap-questions-vcount {
        background-color: $sky-blue;
        span {
          color: $sky-blue;
          background-color: white;
        }
        label {
          color: white;
        }
      }
      &.ap-questions-acount {
        border-color: $sky-blue;
        background-color: $deep-blue;
        span {
          color: $deep-blue;
          background-color: white;
        }
        label {
          color: white;
        }
      }
    }
    .ap-questions-summery{
      padding-right: 10px;
      margin-right: 130px;
      margin-left: 65px;
    }
    .ap-display-meta-item {
      font-size: 12px;
      color: $color4;
      
      a{
        color: $color4;
      }
      i:before{
        color: #aaa;
        font-size: 12px;
      }
    }
    .ap-post-type{
      display: inline;
      font-size: 11px;
      margin: 0;
      padding: 0 6px;
    }
    .ap-post-status {
      background: #ffd54f;
      font-size: 11px;
      font-weight: 400;
      margin-right: 5px;
      padding: 2px 5px;
      &.trash{
        background: #ef5350;
        color: #fff;
      }
    }
    .ap-list-counts{
      float: right;
    }
  }
}
.ap-no-questions{
  background: #eee;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 0;
  margin-top: 20px;
  .ap-pagging-warning {
    background: #FFF8E1;
    text-align: center;
    font-size: 11px;
    border: 1px solid #FFE082;
    padding: 5px;
    border-radius: 2px;
    margin-top: 15px;
  }
}

/*  Answer list style
/* --------------------------------------------------- */
