.mini-creds {
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  &.ap-user-reputation-creds {
    background-color: $reputation-color;
  }
  &.ap-user-point-creds {
    background-color: $point-color;
  }
}

// override semantic-ui color
.ap-user-bio {
  .ap-user-reputation-creds > .button,
  .ap-user-point-creds > .button {
    color: white;
  }
  .ap-user-reputation-creds > .button {
    background-color: $reputation-color;
  }
  .ap-user-point-creds > .button {
    background-color: $point-color;
  }
}