.question-filter {
  opacity: 0;
  & > form {
    display: flex;
    flex-wrap: nowrap;
  }
  .question-filter__list {
    flex: 1;
    .SumoSelect .SelectBox i {
      color: $theme-main-color;
      background-image: none;
      @include fa-icon();
      @extend .fas;
      &:before {
        content: fa-content($fa-var-caret-down);
      }
    }
    .l-row:nth-child(1) {
      margin-bottom: 10px;
    }
    .l-row:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      .sumo_ap_category {
        min-width: 290px;
      }
      & > * {
        margin-right: 10px;
        margin-bottom: 10px;
      }
      & > *:not(.question-filter__category) {
        .SumoSelect {
          max-width: 140px;
        }
      }
      .question-filter__btn {
        flex: 1;
        margin-right: 0;
        & > .ui.button {
          background-color: $theme-main-color;
          border: none;
          color: white;
        }
      }
    }
  }
}