.ap-question-meta {

  .ap-display-meta-item {
    display: inline-block;
    @include all-but(1) {
      &::before {
        content: '|';
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    i{
      font-style: normal;
      margin-right: 5px;
    }
    // [class^="apicon-"], [class*=" apicon-"]{
    //   margin-right: 5px;
    // }
    &.price > i:before {
      margin-right: 1px;
    }
    &.solved > .apicon-check {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $theme-main-color;

      &:before {
        color: white;
      }
    }
  }

  .ap-btn-wish {
    margin-right: 8px;
  }

}