.ap-reputation {
  &s{
    border: none;
    border-spacing: 0;
    td{
      border-width: 0 0 1px 0;
      border-color: #eee;
      border-style: solid;
      padding: 10px 5px;
      vertical-align: top;
      &.col-icon{
        width: 50px;
        color: #b5b5b5;
        i{
          font-size: 18px;
          width: 35px;
          display: block;
          height: 35px;
          padding: 5px;
          text-align: center;
          border-radius: 50%;
          color: #fff;
          
          &.register{
            font-size: 22px;
          }
          &.manual {
            @include fa-icon;
            @extend .fas;
            font-size: 22px;
            &:before {
              content: fa-content($fa-var-balance-scale);
            }
          }
        }
      }
      &.col-points{
        text-align: right;
        width: 55px;
        span{
          background: $color9;
          color: #fff;
          width: 40px;
          display: block;
          float: right;
          text-align: center;
          border-radius: 2px;
          padding: 2px;
        }
      }
      &.col-date{
        width: 100px;
        font-size: 12px;
      }
    }
  }
  &-ref{
    margin-top: 5px;
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #777;
    strong{
      display: block;
      color: #444;
    }
  }
  &-activity {
    font-weight: bold;
  }
}
