.site-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $site-info-background;
  font-size: 14px;

  .l-left, .l-right {
    min-width: 300px;
  }

  font-weight: 400;

  .site-info__links {
    & > ul {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .site-info__etc {
    text-align: left;
    color: $site-info-text-color;
    line-height: 170%;
    a {
      color: $site-info-text-color;
      &:hover {
        color: $theme-main-color;
      }
    }
  } 

  .footer-menu {
    display: flex;
    .menu-item {
      @include even(){
        &:before {
          content: "|";
          padding-left: 6px;
          padding-right: 6px;
        }
      }
      a {
        color: $deep-blue;
        &:hover {
          color: $theme-main-color;
        }
      }
    }
  }
}