.ap-user-bio {
  margin-bottom: 15px;
  border-top: solid 1px #ddd;
  padding: 20px 0;
  min-height: 122px;

  & > .l-row {
    @include first-child() {
      display: flex;
      flex-direction: row;
      & > .l-row {
        @include last-child() {
          flex-grow: 1;
          display: flex;
          .l-left {
            flex-grow: 1;
          }
          .l-right {
          }
        }
      }
    }
  }

  .iamport_btn {
    &:hover {
      color: white;
    }
    margin-left: 10px;
  }

  .ap-user-avatar{
    margin-right: 20px;
  }

  .ap-user-info {
    color: black;
    a {
      color: black;
    }

    .ap-user-info-edit-btn {
      font-size: 13px;
      cursor: pointer;
      color: blue;
      vertical-align: top;
      margin-left: 10px;
      font-weight: 500;
    }

    .ap-user-nickname{
      font-size: 22px;
      font-weight: 600;
    }

    .ap-user-password {
      display: flex;
      align-items: center;
      .pw-secret {
        padding-left: 4px;
      }
    }
  }

  .ap-user-desktop-buttons {
    display: none;
  }

  .ap-user-mobile-buttons {
    display: none;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    .ap-user-reputation-creds,
    .ap-user-point-creds {
      flex-basis: 49%;
      margin: 0;
      .button {
        flex: 1;
      }
    }
    .ap-user-reputation-creds > .button {
      background-color: $reputation-color;
      color: white;
    }
    .iamport_btn {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
    }
  }

}