.ap-user-bio {
  margin-bottom: 15px;
  border-top: solid 1px #ddd;
  padding: 20px 0;
  min-height: 122px;
  display: flex;

  .l-flex {
    flex: 1;
    display: flex;
    & > .l-left {
      flex: 1;
      justify-content: flex-start;
    }
    & > .l-right {
      display: flex;
      align-items: flex-start;
      // flex-direction: column;
      .point-charge {
        margin-left: 10px;
      }
    }
  }

  .ap-user-avatar{
    margin-right: 20px;
  }

  .ap-user-info {
    color: black;
    a {
      color: black;
    }

    .ap-user-info-edit-btn {
      font-size: 13px;
      cursor: pointer;
      color: blue;
      vertical-align: top;
      margin-left: 10px;
      font-weight: 500;
    }

    .ap-user-nickname{
      font-size: 22px;
      font-weight: 600;
    }

    .ap-user-password {
      display: flex;
      align-items: center;
      .pw-secret {
        padding-left: 4px;
      }
    }
  }
}