.site-header {
  background-color:#2f364a;
  margin-bottom: 40px;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 0;
  & > .wrapper {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .l-right {
      display: inline-flex;
    }
  }
  .site-nav {
    display: inline-flex;
    line-height: $site-nav-line-height;
  }
}