.site-header {
  background-color: $header-background-color;
  margin-bottom: 40px;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid $grey-100;
  & > .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .l-right {
      display: inline-flex;
    }
  }
  .site-nav {
    display: inline-flex;
    line-height: $site-nav-line-height;
  }
}